<body>
  <main>
    <section>

      <h4>Search results</h4>

      <p>

        <% @recipes.each do |recipe| %>
        <dv><%= link_to recipe.recipe_data, recipe_path(recipe.show_recipe) %></div></br>
        <% end %>
      </p>

    </section>
  </main>
</body>
